* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(69, 95, 126);
}

.wrapper {
  max-width: 1200px;
  position: relative;
}

.wrapper i {
  top: 50%;
  position: absolute;
  background-color: #fff;
  height: 46px;
  width: 46px;
  font-size: 1.2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
  transform: translateY(-50%);
}

.wrapper i:first-child {
  left: -23px;
  display: none;
}

.wrapper i:last-child {
  right: -23px;
}

.wrapper .carousel {
  font-size: 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel img {
  height: 340px;
  width: calc(100% / 3);
  margin-left: 14px;
  object-fit: cover;
  user-select: none;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}
